Repository hongchhe/my_test: changes, and which Atlantis projects are due for each by the changed paths.
All: test, terraform/qa1, terraform/qa2

test:
  dir: ./
  workflow: dev

terraform/qa1:
  dir: terraform/qa1
  terraform_version: v1.3.6
  workflow: qa
  apply_requirements:
  - mergeable

terraform/qa2:
  dir: terraform/qa2
  terraform_version: v1.3.6
  workflow: qa
  apply_requirements:
  - approved
  - mergeable

update
  terraform/qa1/main.tf
Due: terraform/qa1

Update atlantis.yaml
  atlantis.yaml
Due: none

Update test.tf
  test.tf
Due: test

Update main.tf
  terraform/qa1/main.tf
Due: terraform/qa1

Update main.tf
  terraform/qa2/main.tf
Due: terraform/qa2

Create Dockerfile
  Dockerfile
Due: none

Create build.yaml
  .github/workflows/build.yaml
Due: none

Update build.yaml
  .github/workflows/build.yaml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Path conditions:
  test: any of: *.tf, *.tfvars
  terraform/qa1: any of: terraform/qa1/*.tf, terraform/qa1/*.tfvars, terraform/modules/*/*.tf
  terraform/qa2: any of: terraform/qa2/*.tf, terraform/qa2/*.tfvars, terraform/modules/*/*.tf
